<div ng-controller="RegistrationController as reg">
   <div class='container'>
    <h1>Newsletter Sign Up!</h1>

    <fieldset class='aa'>
        <legend class='diorao'>Your data:</legend>
        <form name='regForm' novalidate>

        <span style='font-size: 13px;'>Trouble finding the code of your favorite dish? <a class='more' target='_blank' href='https://lleoun.github.io/module4-solution/#/main-list'>Here</a> you can choose a category and by clicking on it, you will find the code before the dish's name.</span> <br>
            <input type="text" name="dish" placeholder="Favorite dish code"
                ng-model="reg.user.dish" ng-blur="reg.checkDish(reg.user.dish)"
                required
                minlength="1"
                maxlength="4">
           <!-- {{ reg.user.dish }}-->
            <!--<br>
            <span ng-show="regForm.dish.$invalid.checkDish">No such menu number exists.</span>-->
            <span id="info1" ng-if="reg.nonumber"> ** No such menu number exists!</span><br>
   
            <input type="text" name="firstname" placeholder="First name"
                ng-model="reg.user.firstname"
                required
                minlength="4"
                ng-maxlength="10">
            <!--{{ reg.user.firstname }}-->
            <span
                ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
                Username must be at least 4 characters long
            </span>
            <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
                Username must not be longer than 10 characters
            </span>
            <br>

            <input type="text" name="lastname" placeholder="Last name"
                ng-model="reg.user.lastname"
                required
                minlength="4"
                ng-maxlength="10">
           <!-- {{ reg.user.lastname }}-->
            <span
                ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
                Username must be at least 4 characters long
            </span>
            <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
                Username must not be longer than 10 characters
            </span>
            <br>

            <input type="email" name="email" placeholder="Email"
                ng-model="reg.user.email"
                required>
            <span ng-if="regForm.email.$invalid && regForm.email.$touched">
                Must be a valid email address: handle@domain format
            </span>
            <br>

            <input type="text" name="phone" placeholder="Phone ###-###-####"
                ng-model="reg.user.phone"
                pattern="(\d{3})-(\d{3})-(\d{4})">
            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
                Phone must be in the format ###-###-####.
            </span>
            <br>



            <button
                ng-disabled="regForm.$invalid"
                ng-click="reg.submit()">Submit</button>

             <!--<div style="margin-top: 10px;">
            The data you entered: 
               {{ regForm.$valid }}
            </div>-->

        </form>
        <br>
        <div id="info" ng-if="reg.completed">
        Your information has been saved. Please, visit our <a ui-sref="public.myinfo" class="more">My Info</a> section.         <!--{{ regForm.$valid }}-->
        <br>
      <!--  Name: {{ reg.user.firstname }} {{ reg.user.lastname }} <br>
        Email: {{ reg.user.email}} <br>
        Phone: {{ reg.user.phone }}<br>
        Dish: {{ reg.user.dish }}<span id="info1" ng-if="reg.nonumber"> ** No such menu number exists!</span><br>-->
    </div>
    </fieldset>


</div>
</div>
